/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
 
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
 
body {
    line-height:1;
}
 
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
 
nav ul {
    list-style:none;
}
 
blockquote, q {
    quotes:none;
}
 
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
 
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
 
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
 
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
 
del {
    text-decoration: line-through;
}
 
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
 
table {
    border-collapse:collapse;
    border-spacing:0;
}
 
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
 
input, select {
    vertical-align:middle;
}





body {
    background: #F6F6F6;
    font-family: Verdana,Arial,Helvetica,'meirio','メイリオ','Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4',Osaka,'ＭＳ Ｐゴシック',sans-serif;
}

div {
    display: block;
}

#wrapper {
    margin: 0 auto;
    border-top: solid 8px #6CC6C4;
}

#headerWrapper {
    margin: 0 auto 20px;
    width: 920px;
    text-align: left;
}

#header {
    height: 200px;
    position: relative;
}

.siteTitle {
    position: absolute;
    top: 50px;
    left: 0px;
    margin: 0;
    padding: 0;
}

.description {
    position: absolute;
    top: 10px;
    right: 0px;
    margin: 0;
    padding: 0;
    font-size: 77%;
    text-align: right;
}

.headerAddress {
    position: absolute;
    right: 0;
    top: 35px;
    height: 75px;
    width: 220px;
}

.headerAddress .tel {
    margin: 0;
    padding: 0 0 0 25px;
    text-align: right;
    font-size: 25px;
}

.headerAddress .time {
    border: solid 1px #D6D6D6;
    padding: 5px 0;
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 220px;
    font-size: 10%;
}

.headerAddress .hot {
    color: #B22C00;
}

.navi{
    position: absolute;
    bottom: 0px;
    left: 0px;
    border: solid 1px #6CC6C4;
    border-radius: 5px;
    background: linear-gradient(rgb(156,227,225) 0%,rgb(108,198,196) 100%);
    height: 70px;
    width: 100%;
}

.navi ul li:not(:last-child) {
    border-right: solid 1px #6CC6C4;
}

.navi ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 70px;
}

.navi ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    height: 70px;
    width: 183px;
}


.navi ul li:hover {
    background: linear-gradient(rgb(108,198,196) 100%,rgb(156,227,225) 0%);
    border-radius: 5px;
}


.navi ul li a {
    text-decoration: none;
    padding: 17px 0px 18px;
    width: 182px;
    display: block;
    text-shadow: 1px 1px 2px #6cc6c4;
    -moz-text-shadow: 1px 1px 2px #6CC6C4;
    -webkit-text-shadow: 1px 1px 2px #6CC6C4;
}

.navi ul li a .titleJa {
    display: block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 108%;
    font-weight: bold;
}

.navi ul li a .titleEn {
    display: block;
    height: 15px;
    line-height: 15px;
    text-align: center;
    font-size: 77%;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}


.description {
    float:right;
}
.headerAddress p {
    float:right;
}

ul{
    list-style: none;
}

#contentsWrapper {
    height: 700px;
    width: 100%;
    margin: 0 auto 20px;
    width: 920px;
    text-align: left;
}

#main {
    float: right;
    width: 640px;
}

#menu {
    width: 260px;
}

.mainImage {
    width: 640px;
    height: 280px;
}

.inner {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
}

.subMidashi {
    height: 50px;
    border-bottom: solid 3px #6CC6C4;
    line-height: 50px;
}

.news dl {
    margin: 0 0 15px;
    padding: 0 10px 10px;
    font-size:13px;
    line-height: 100%;
}

.news dl dt {
    float: left;
    width: 120px;
    padding: 10px;
    font-weight: bold;
    line-height: 150%;
}

.news dl dd {
    padding: 10px 10px 10px 150px;
    border-bottom: 1px #CCCCCC dotted;
}

#menu {
    float: left;
    width: 260px;
    display: block;
}

.menuTitle01 {
    border-style: solid;
    border-width: 1px;
    border-color: #6CC6C4;
    background-image: linear-gradient(rgb(156,227,225) 0%,rgb(108,198,196) 100%);
    border-radius: 5px 5px 0px 0px ;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    color: #fff;
}

.menuTitle02 {
    border-color: #6CC6C4;
    background-image: linear-gradient(rgb(156,227,225) 0%,rgb(108,198,196) 100%);
    border-radius: 5px 5px 0px 0px ;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    color: #fff;
}

.menuList01 {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #6CC6C4;
    margin: 0 0 20px;
}

#menu .menuList01 ul {
    box-sizing: border-box;
    margin: 0 0 20px;    
}

.menuList01 ul Li {
    margin: 0px 15px 0px;
    padding: 15px 0 15px 15px;
    list-style: none;
    border-bottom: #6CC6C4 solid 1px;
}

.menuList01 ul Li a { 
    color: #595959;
    font-size:14px;
    font-weight: bold;
    
}

.menuList02 {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #6CC6C4;
    margin: 0 0 20px;
}

#menu .menuList02 ul {
    box-sizing: border-box;
    margin: 0 0 20px;    
}

.menuList02 ul Li {
    margin: 0px 15px 0px;
    padding: 15px 0 15px 15px;
    list-style: none;
    border-bottom: #6CC6C4 solid 1px;
}

.menuList02 ul Li a { 
    color: #595959;
    font-size:14px;
    font-weight: bold;
}

.menuList01 ul Li a:hover {
    color: #6CC6C4;
}

.menuList02 ul Li a:hover {
    color: #6CC6C4;
}

#menu i {
    font-size:50%;
    color: #6CC6C4;

}

#footerWrapper {
    margin: 10px 0 0;
    text-align: center;
    height: 130px;
}

#footer {
    width: 920px ;
    text-align: left;
    margin: 0 auto;
    padding: 0;
}

#footerMenu ul {
    margin: 0;
    padding: 0 0 0 15px;
    list-style: none;
    height: 30px;
    background: #6CC6C4;
    border-radius: 6px;
}

#footerMenu ul li {
    margin: 0;
    padding: 0 20px 0 20px;
    list-style: none;
    float: left;
    height: 30px;
    line-height: 30px;
}

#footerMenu ul a {
    height: 30px;
    line-height: 30px;
    color: #FFF;
    text-decoration: none;
    font-size: 13px;
}

.footerAddress {
    text-align: right;
    height: 50px;
    line-height: 50px;
}

#footer .copyright {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-size: 93%;
    border-top: solid 2px #6CC6C4;
}

.clearFix i {
    color: #FFF;
    font-size: 80%;
    font-weight: bold;
}






@media screen and (max-width: 670px){
    * {
        box-sizing: border-box;
    }
    
    #headerWrapper {
        width: 100%;
    }
    
    #header {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .siteTitle {
        position: relative; top:5px;
        text-align: center;
    }

    .description {
        position: relative; top:5px;
        text-align: center;
        
    }
    
    .headerAddress {
        position: relative; top:5px;
        text-align: center;
        padding: 5px 0 ;
        height: 60px;
    }
    
    .headerAddress .tel {
        font-size: 25px;
        text-align: center;
    }
    
    .navi{
    position: static;
    width: 100%;
    background: none;
    border-radius: 0;
    border: none;
    margin: 15px 0;
    height: auto;
    }
    
    .navi ul {
        height: auto;
    }
    
    .navi ul li {
        width: 50%;
        background-image: linear-gradient(rgb(156,227,225) 0%,rgb(108,198,196) 100%);
        border-radius: 6px;
    }
    
    .navi ul li:hover {
        background-color: cadetblue;
    }
    
    
    .navi ul li a {
        display: block;
        margin: auto;
    }
    
    .headerAddress p {
        text-align: center;
    }
    
    #contentsWrapper {
        width: 100%;
        height: 1390px;
    }
    
    #main, #menu {
        padding:0 5px;
        margin-bottom:10px;
        float: none;
        width: 100%;
    }

    .mainImage {
        width: auto;
        height: 280px;
    }
    
    .news dl dt {
        float: none;
        width: 100%;
    }
    
    .news dl dd {
        float: none;
        width: 100%;
        padding-left: 10px;
    }
    
    #menu {
        width: 100%;
    }
    
    #footerWrapper {
        height: 300px;
    }
    
    #footer {
        width: 100%;
    }

    .clearFix {
        margin-bottom: 5px;
        height: auto;
    }

    #footerMenu ul li {
        padding: 0 10px 0 10px;
    }

    .footerAddress {
        line-height: 1.6;
        padding-left: 12px;
        padding-right: 12px;
    }

    .footerAddress strong, .footerAddress span {
        display: block;
        text-align: right;

    }

}
